/* 
 _________________________________________________________
|                                                         |
|    DESIGN + http://fullahead.org                        |
|      DATE + 2005.05.12                                  |
| COPYRIGHT + free use if this notice is kept in place    | 
|_________________________________________________________|

*/

/* -- Main layout styles -- */

body {
  margin: 1em 1em 1em 1em;
  padding: 0px;
  font-family: verdana, sans-serif;
  font-size: 1.0em;
  background-color: #333;  
}

#siteBox {
  float: left;
  width: 100%;
  color: #FFF;
}

/* -- Header layout/display styles -- */

#header {
  float: left;
  width: 100%;
  height: 5em;
  background: #25509F url(../images/hdr.jpg) no-repeat bottom left;
}

#header a {
  float: right;
  width: 8em;
  padding: 5px 10px 5px 10px;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #666;
  border-bottom: 2px solid #333;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

#header a:hover, #header a.active {
  padding-top: 10px;
  background-color: #333;
}

#header a.lastMenuItem {
  background-image: url(../images/corner_tr.gif);
  background-repeat: no-repeat;
  background-position: top right;
  border-right: 0px;
}

a .desc {
  display: none;
  text-transform: lowercase;
  color: #FC0;  
}

a:hover .desc, .active .desc {
  display: block;
}




/* -- Header title and subTitle layout/display styles -- */


.title {
  float: left;
  padding: 1.25em 30px 0 2em;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  line-height: 0.75em;
  letter-spacing: -0.15em;
  /* color: #FC0; */
  color: #6559C8;
}

.subTitle {
  display: block;
  font-size: 0.4em;
/*  text-transform: lowercase; */
  line-height: 1.2em;  
  letter-spacing: 0.01em;
}





/* -- Content layout/display styles -- */

#content {
  float: left;
  width: 100%;
  padding: 1em 0 1em 0;
  background-color: #666;
  font-size: 0.9em;
}

#contentLeft {
  float: left;
  width: 23.3%;
  margin-bottom: 1em;
  background: #777 url(../images/corner_sub_tr.gif) no-repeat top right;  
}

#contentRight {
  float: right;
  width: 75%;
  background: #777 url(../images/corner_sub_tl.gif) no-repeat top left;
}

#contentRight p {
  text-align: justify;
}

#content p {  
  margin: 1em 1.2em 1em 1.2em;
  line-height: 1.4em;
}

#contentRight h2 {
  margin-left: 1.0em;
  font-size: 1.1em;
  padding: 0;
}

#content a {  
  text-decoration: none;
  color: #FC0;
  border-bottom: 1px solid #AAA;
}

#content a:hover {
  color: #DDD;
  background-color: #888;
  border-bottom: 1px solid #EEEEEE;
}

.header, .subHeader {
  display: block;
  clear: both;  
  font-weight: bold;
  font-size: 1em;
  text-transform: lowercase;
  color: #FC0;
  border-bottom: 1px solid #AAA;    
}

.subHeader {
  border: 0px;
}





/* -- Content left site links (large plus icon) -- */

#content a.menuItem {
  display: block;  
  padding: 5px 0 5px 54px;
  background: url(../images/icn_plus.gif) no-repeat center left;
  border: 0px;
}

#content a:hover.menuItem { 
  color: #DDD;
  background: #888 url(../images/icn_plus_on.gif) no-repeat center left;
  border: 0px;
}

#content img {
  border: 0px;
}



/* -- Footer layout/display styles -- */

#footer {
  float: left;
  width: 100%;
  height: 3.5em;
  font-size: 0.6em;
  vertical-align: middle;
/*  text-transform: lowercase;*/
  text-align: center;
/*  line-height: 2.6em;*/
/*  color: #0AD;*/
  color: #6559C8;
  background: #25509F url(../images/hdr.jpg) repeat-y top left;
  padding-top: 0.2em;
}

#footer img {
	border: 0;
/*	opacity: 0.75;*/
}

#footerLeft {
  float: left;
  width: 10px;
  height: 100%;
  text-align: center;
  background: url(../images/corner_bl.gif) no-repeat bottom left;
}

#footerRight {
  float: right;
  width: 10px;
  height: 100%;
  text-align: right;
  background: url(../images/corner_br.gif) no-repeat bottom right;
}

#footer a {
  color: #0AD;
}

#footer a:hover {
  color: #666666;
}




/* -- Display formatting styles -- */

.grey {
  font-size: 0.9em;
  color: #AAA;
}

.white {
  color: #1A89DC;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #AAA;
}

.comment {
  cursor: help;
  border-bottom: 1px dotted #AAA;
}


/* -- <ul> tag styles -- */

ul{
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-image: url(../images/li_bullet.gif);
}

li {
  margin-left: 20px;
}


/* -- Image alignment classes -- */

.imgLeft, .imgRight {
  margin: 5px;
}

.imgLeft {
  float: left;
  margin-left: 0px;
}

.imgRight {
  float: right;
  margin-right: 0px;
}


/* -- Utility classes to create the bottom rounded corners -- */

.bottomCorner {
  text-align: right;
}

.vBottom {
  vertical-align: bottom;
}


/* -- Forms -- */
.tform {
  margin: 1em 1.2em 1em 1.2em;
}

.tform .desc {
  font-weight: bold;
}

.tform tfoot {
  text-align: center;
}

.error {
  color: #ff0;
  font-weight: bold;
}

.schedule {
  border: solid black 1px;
  border-collapse: collapse;
  margin-left: 1em;
  margin-right: 1em;
}

.schedule td, .schedule th {
  border: solid black 1px;
  text-align: center;
}

.schedule th {
  width: 22%;
  background: #888;
}

.nowrap {
  white-space: nowrap;
}
